@{
    ViewData["Title"] = "Ingreso de Datos";
}

<form class="row" asp-action="crearcliente">
    <div>
        <label>Nombre </label>
        <input type="text" class="form-control" placeholder="Nombre" name="nombrecliente" />
    </div>
    <div>
        <label >Apellido </label>
        <input type="text" class="form-control" placeholder="Apellidos" name="apellidocliente" />
    </div>
    <div>
        <label>Telefono </label>
        <input type="text" class="form-control" placeholder="Telefono" name="telefono" />
    </div>

    <div>
        <label>Direcciòn</label>
        <input type="text" class="form-control" placeholder="Direccion" name="direccion" />
    </div>

    <div>
        <label>Cedula</label>
        <input type="text" class="form-control" placeholder="Cedula" name="cedula" />
    </div>

    <div>
        <label>Monto</label>
        <input type="text" class="form-control" placeholder="Monto" name="monto" />
    </div>

    
</form>

<div class="container">
        <input type="submit" value="guardar" class="btn btn-success"/>
    </div>
