@{
    ViewData["Title"] = "Ingreso de Datos";
}

<div class="container p-5 my-5 bg-dark text-white">
    <h3 class="align-content-center">Datos Cliente</h3>
    <div class="row">
        <div class="col-6">
            <form class="form" action="/Home/crearcliente" method="post">                
                <div class="container">
                    <label>Nombre</label>
                    <input class="form-control" type="text" placeholder="Nombres" name="nombrecliente"/>
                </div>
                <div class="container">
                    <label>Apellido</label>
                    <input class="form-control" type="text" placeholder="Apellido" name="apellidocliente"/>
                </div>
                <div class="container">
                    <label>Cedula de Identidad</label>
                    <input class="form-control" type="text" placeholder="Cedula" name="cedulacliente"/>
                </div>
                
            </form>
        </div>
         <div class="col-6">
            <div class="container">
                    <label>Direccion</label>
                    <input class="form-control" type="text" placeholder="Direccion" name="direccioncliente"/>
                </div>
                <div class="container">
                    <label>Telefono</label>
                    <input class="form-control" type="text" placeholder="Telefono" name="telefonocliente"/>
                </div>
                <div class="container">
                    <label>Genero</label>
                    <input class="form-control" type="text" placeholder="Genero" name="generocliente"/>
                </div>
         </div>
    </div>
</div>

<div class="container p-5 my-5 bg-dark text-white">
    <h3 class="align-content-center">Datos Cliente</h3>
    <div class="row">
        <div class="col-6">
            <form class="form" action="/Home/crearcliente" method="post">                
                <div class="container">
                    <label>Nombre</label>
                    <input class="form-control" type="text" placeholder="Nombres" name="nombrecliente"/>
                </div>
                <div class="container">
                    <label>Apellido</label>
                    <input class="form-control" type="text" placeholder="Apellido" name="apellidocliente"/>
                </div>
                <div class="container">
                    <label>Cedula de Identidad</label>
                    <input class="form-control" type="text" placeholder="Cedula" name="cedulacliente"/>
                </div>                
            </form>
        </div>
        <div class="col-6">
            <div class="container">
                    <label>Direccion</label>
                    <input class="form-control" type="text" placeholder="Direccion" name="direccioncliente"/>
                </div>
                <div class="container">
                    <label>Telefono</label>
                    <input class="form-control" type="text" placeholder="Telefono" name="telefonocliente"/>
                </div>
                <div class="container">
                    <label>Genero</label>
                    <input class="form-control" type="text" placeholder="Genero" name="generocliente"/>
                </div>
        </div>
    </div>
</div>

<div class="container align-items-center">
        <input type="submit" value="Guardar Datos" class="btn btn-success"/>
    </div>
