
@section Scripts {
<script src="~/js/jscliente.js"></script>
}

@{
    ViewData["Title"] = "Ingreso de Datos";
}

<!--imagen central -->
<img src="https://carlofarucci.com/wp-content/uploads/2018/09/seo-para-imagenes-2019.jpg" class="rounded float-start mx-auto d-block" alt="imagen gato" width="510" height="240"/>

<!--fortmulario para ingreso de datos-->
<form class="form" asp-action="CrearCliente" method="post" autocomplete="off"> 
<div class="container p-5 my-5 bg-dark text-white">
    <h4 class="font-weight-bold">Datos Cliente</h4>
    <div class="row">
        <div class="col-6">
            
                <div class="mb-3">
                    <label class="font-weight-bold">Nombre</label>
                    <input class="form-control" type="text" placeholder="Nombres" name="nombrecliente" maxlength="100"/>
                </div>
                <div class="mb-3">
                    <label class="font-weight-bold">Cedula de Identidad</label>
                    <input class="form-control" type="text" placeholder="Cedula" name="cedulacliente"/>
                </div>
                <div class="mb-3">
                    <label class="font-weight-bold">Telefono</label>
                    <input class="form-control" type="text" placeholder="Telefono" name="telefonocliente"/>
                </div>
                <div class="mb-3">
                    <label class="font-weight-bold">Referencia Personal</label>
                    <input class="form-control" type="text" placeholder="Referencia Personal" name="referenciacliente"/>
                </div>                
            
        </div>

          <div class="col-6">
             
                <div class="mb-3">
                    <label class="font-weight-bold">Apellido</label>
                    <input class="form-control" type="text" placeholder="Apellido" name="apellidocliente"/>
                </div>
                <div class="mb-3">
                    <label class="font-weight-bold">Direccion</label>
                    <input class="form-control" type="text" placeholder="Direccion" name="direccioncliente"/>
                    
                </div>
                <div class="mb-3">
                    <label class="font-weight-bold">Genero</label><br/>
                    <input type="radio"  id="hombre" name="generocliente" value="HOMBRE" checked>
                    <label for="hombre">Hombre</label>
                    <label></label>
                    <input type="radio"  id="mujer" name="generocliente" value="MUJER">
                    <label for="mujer">Mujer</label>
                </div>
                <div class="mb-3">
                    <label class="font-weight-bold">Telefono Referencia</label>
                    <input class="form-control" type="text" placeholder="Telefono Referencia" name="treferenciacliente"/>
                </div>
            
           </div>
    </div>
</div>

<div class="container p-5 my-5 bg-info text-white">
    <h4 class="font-weight-bold">Datos Prestamo</h4>
    <div class="row">
        <div class="col-6">
            
                <div class="mb-3">
                    <label class="font-weight-bold">Monto</label>
                    <input class="form-control" type="text" placeholder="Monto" name="montoprestamo"/>
                </div>
                <div class="mb-3">
                    <label class="font-weight-bold">% Interes</label>
                    <input class="form-control" type="text" placeholder="Interes" name="interesprestamo"/>
                </div>
                      
        </div>
        <div class="col-6">
            
                <div class="mb-3">
                    <label class="font-weight-bold">Plazo</label>
                    <input class="form-control" type="text" placeholder="Plazo" name="plazoprestamo"/>
                </div>
                <div class="mb-3">
                    <label class="font-weight-bold">Monto por Cuotas</label>
                    <input class="form-control" type="text" placeholder="Monto Cuotas" name="cuotasprestamo"/>
                </div>
            
        </div>
    </div>
    <!--campo para descripcion-->
        <textarea class="col-12" maxlength="500" placeholder="Descripcion"></textarea>
</div>

<div class="container ">
        <input type="submit" id="guardar" value="Guardar Datos" class="btn btn-success"/>
        <a id="btmostrar" href="javascript:void(0);" class="btn btn-danger">Mostrar</a>
</div>
</form>



