@{
    ViewData["Title"] = "Tabla de Informaciòn";
}


<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de prestamos.</h1> 
</div>

<h1 class="text-info">Informe de Prestamos</h1>


<div>
    <table class=" table table-bordered  table-hover ">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Cedula
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Fecha de prestamo
                </th>
                 <th>
                     Monto
                </th>
                 <th>
                     Interes
                </th>
                 <th>
                     Plazo
                </th>
                 <th>
                     Monto Pagado
                </th>
            </tr>
        </thead>
    </table>
</div>

<div>
    <a class="btn btn-success" href="../Home/Index" >Agregar Nuevo</a>
</div>

<hr />

@DateTime.Now.ToShortDateString()