<!--referencia, muestra el titulo en la pagina-->
@{
    ViewData["Title"] = "Tabla de Informaciòn";
}


<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de prestamos.</h1> 
</div>

<h1 class="text-info">Informe de Prestamos</h1>

<!--tabal de datos -->
<div>
    <table class=" table table-bordered  table-hover ">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Cedula
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Fecha de prestamo
                </th>
                 <th>
                     Monto
                </th>
                 <th>
                     Interes
                </th>
                 <th>
                     Plazo
                </th>
                 <th>
                     Monto Pagado
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var Index in Model)
                {
                    <tr>
                        <td>@Index.NombreCategoria</td>
                        <td>
                            <a class="btn btn-info" href="@Url.Action("EditarCategoria", new { id = Index.Id })">Editar</a>
                            <a class="btn btn-danger" href="@Url.Action("EliminarCategoria", new { id = Index.Id })">Eliminar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!--boton que lleva a ingresar datos-->
<div>
    <a class="btn btn-success" href="../Home/Index" >Agregar Nuevo</a>
</div>

<!--informacion de fecha-->
<hr />
@DateTime.Now.ToShortDateString()